@import '../../fonts.scss';
$ftfProDisplay:'sf-pro-display';
$ftfProText:'sf-pro-text';
.path-history{
    margin-top: 20px;
}

.mobile-icon{
    @media(min-width:993px){
        display: none;
    }
    display: block;
}
.desctop-text{
    @media(max-width:992px){
        display: none;
    }
    display: block;
}
p{
    display: flex;
    align-items: center;
    span{
        font-family: $ftfProText;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #161C24;
        margin: 0 2.5px;
        &.path-active{
            color: #9D9D9D;
        }
    }
}