// fonts 
//sf pro display
@font-face {
    font-family: 'sf-pro-display';
    src: url('../src/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF');
    font-weight: bold;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../src/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF');
    font-weight: 500;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../src/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF');
    font-weight: 400;
}
// sf pro text
@font-face{
    font-family: 'sf-pro-text';
    src: url('../src/fonts/sf-pro-text/SFProText-Heavy.ttf');
    font-weight: 900;
}
@font-face{
    font-family: 'sf-pro-text';
    src: url('../src/fonts/sf-pro-text/SFProText-Bold.ttf');
    font-weight: bold;
}
@font-face{
    font-family: 'sf-pro-text';
    src: url('../src/fonts/sf-pro-text/SFProText-Semibold.ttf');
    font-weight: 600;
}
@font-face{
    font-family: 'sf-pro-text';
    src: url('../src/fonts/sf-pro-text/SFProText-Medium.ttf');
    font-weight: 500;
}
@font-face{
    font-family: 'sf-pro-text';
    src: url('../src/fonts/sf-pro-text/SFProText-Regular.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'sf-pro-text';
    src: url('../src/fonts/sf-pro-text/SFProText-Light.ttf');
    font-weight: 200;
}


